.avatar{
    height: 5vw; 
    background-color: lightblue; 
    text-align: center;
    border-top-right-radius: 0.5vw; 
    border-top-left-radius: 0.5vw;
}

.avatar > img {
    border-radius: 50%; 
    width:11vw; 
    border: solid white 2px; 
    margin-top:1vw;
}