<div>
    <div>
        <div class="avatar">
            <img src="assets/images/portfolio.jpg" alt="Profile Picture">
            </div>
    </div>
    <div style="padding-top: 8vw; text-align: center; max-width: 100%; padding-left: 1vw; padding-right: 1vw;">
        <p class="title">{{profile.name}}</p>

        <p class="text" style="text-align: center;">
            {{profile.title}}<br>
            {{profile.location}}
        </p>
    </div>
    <!-- <div>
        <button class="btn btn-primary" type="button">Tengo interés en</button>
        <button class="btn btn-light" type="button">Añadir Sección</button>
        <button class="btn btn-light" type="button">Más</button>
    </div> -->
</div>
