<div style="overflow-wrap: break-word;">
    <span class="title">Acerca de</span>
    <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-big" (click)="openModal()"></i>
    <p class="text">{{profile.about}}</p>
</div>

<ng-template #myModal let-modal>
    <form #myForm="ngForm" (ngSubmit)="updateAbout(myForm)">
        <div class="modal-header">
            <h4 class="modal-title">Cambiar texto</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" [(ngModel)]="textInput" name="textInput" class="form-control">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</ng-template>