.toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #262727;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.spacer {
    flex: 1;
}

.btn {
    text-decoration: none;
    border: 2px solid;
    padding: 2px 10px;
    font-size: 16px;
    background-color: #262727;
    color: green;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
/* Adding transformation when the button is active */
  
.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}