
    <div style="padding-bottom: 1vw;">
      <span class="title">Experiencia</span>
      <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-big" (click)="openModal('none','none','none','none','none','none','none','none','none')"></i>
    </div>
  
    <ng-template #myModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Crear nueva experiencia laboral</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #myForm="ngForm" (ngSubmit)="addJob(myForm)" ngNativeValidate>
            <div class="form-group" hidden>
                <label for="id">id</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="job.id">
            </div>
            <div class="form-group">
              <label for="company">Empresa</label>
              <input type="text" class="form-control" id="company" name="company" [(ngModel)]="job.company" required>
            </div>
            <div class="form-group">
                <label for="role">Rol</label>
                <input type="text" class="form-control" id="role" name="role" [(ngModel)]="job.role" required>
            </div>
            <div class="form-group">
                <label for="start">Fecha de Inicio</label>
                <input type="date" class="form-control" id="start" name="start" [(ngModel)]="job.start" required>
            </div>
            <div class="form-group">
                <label for="end">Fecha de Fin</label>
                <input type="date" class="form-control" id="end" name="end" [(ngModel)]="job.end" required>
            </div>  
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="job.description" required>
            </div>
            <div>
                <span *ngIf="job.logo"><img style="height: 30px; margin-right: 1vw;margin: 0.5vw" [src]="job.logo" alt="Job logo"></span>
                <label for="logo">Seleccionar imagen (JPG/GIF/PNG - máx 2MB o 400x400px):</label>
                <div class="alert alert-warning d-none" id="error-message"></div>
                <input type="file" id="image" (change)="onFileSelected($event)">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </ng-template>

    <div *ngIf="jobs">
      <div *ngFor="let job of jobs; let i = index" class="text" style="display: flex; align-items: flex-start; text-align: left;">
        <div>
            <img style="height: 30px; margin-right: 1vw;" [src]="job.logo_ext+job.logo" alt="Job logo">
        </div>
        <div style="flex-grow: 1;">
            <div class="job_name">
                <b>{{job.company}}</b> - {{job.role}}
                <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-small" (click)="openModal(job.id,job.company,job.role,job.start,job.end,job.description,job.location,job.logo,job.logo_ext)"></i>
                <i *ngIf="IsAdmin()" class="fas fa-trash-alt text-danger icon-small" (click)="deleteJob(job.id)"></i>
            </div>
            <div>{{job.location}}</div>
            <div>
                <span>{{job.start}} - </span><span *ngIf="job.end; else now">{{job.end}}</span><ng-template #now>Now</ng-template>
            </div>
            <div>{{job.description}}</div>
            <hr style="width: 50%; margin: 1vw auto 1vw auto" *ngIf="i !== jobs.length - 1">
        </div>
      </div>
    </div>