<span class="title">Proyectos</span> 
<i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-big" (click)="openModal('none','none','none','none')"></i>
<ng-template #myModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Crear nuevo proyecto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #myForm="ngForm" (ngSubmit)="addProject(myForm)" required>
        <div class="form-group" hidden>
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="project.id">
          </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" required>
        </div>
        <div class="form-group">
          <label for="company">Compañía</label>
          <input type="text" class="form-control" id="company" name="company" [(ngModel)]="project.company" required>
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea class="form-control" id="description" name="description" [(ngModel)]="project.description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </ng-template>

<ul *ngIf="projects">
    <li *ngFor="let project of projects">
        <span class="project_name">
          <b>{{ project.name }}</b> -
        </span>
        <span class="project_name">
            {{ project.company }} 
        </span>
        <span>
          <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-small" (click)="openModal(project.id,project.name,project.company,project.description)"></i>
          <i *ngIf="IsAdmin()" class="fas fa-trash-alt text-danger icon-small" (click)="deleteProject(project.id)"></i>
        </span>
        <div class="text">
            {{ project.description }}
        </div>
      
    </li>
</ul>