.error{
    color:red
  }
  
  .border-danger{
    border-color: red;
  }

  .is-valid-custom {
    border: 3px solid rgb(108, 193, 108);
  }
  
  .is-invalid-custom {
    border: 3px solid rgb(189, 103, 103);
  }

  .login {
    background-color: rgb(100, 130, 232);
    font-size: 15px;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    width: 25%;
  }

  .signin {
    background-color: rgb(175, 175, 178);
    font-size: 15px;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
  }

  .loginbox{
    border: 1px solid; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
  }

  .loginbox input{
    margin-right: 200px;
  }

  .container{
    margin-top: 10%; 
    background-color: transparent;
  }

  .signtoregister{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center; 
    border: 1px solid; 
    padding-top: 2px;
    padding-bottom: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(131, 170, 170);
  }

  .signtoregister button{
    padding-left: 2%;
    text-align: left;
    font-size: 15px;
    border: none;
    background-color: transparent;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
  }

  .blink_me {
    animation: blinker 3s linear infinite;
    font-weight: bolder;
    font-size: large;
    color: rgb(2, 2, 2);
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.3;
    }
  }

  .alert-message{
    color:red;
    text-align: center;
    font-weight: bold;
  }