<div class="container">
    <div class="signtoregister">
        <div *ngIf="status==='SignUp'">
            <button (click)=Sign2Register() >Don't have an account? Dont worry, sign up here.</button>
        </div>
        <div *ngIf="status==='SignIn'">
            <button (click)=Sign2Register() >Already have an account? Try signing in first.</button>
        </div>
        
    </div>
    <div class="loginbox" *ngIf="status==='SignUp'">
        <form [formGroup]="signinform"  (ngSubmit)="onSubmit($event,'signin')">    
            <div>
                <label for="email" class="form-label">Email </label>                          
                <input type="email" formControlName="email"
                [ngClass] = "{'is-invalid': SigninEmail?.errors && SigninEmail?.touched, 'is-valid': !SigninEmail?.errors && SigninEmail?.touched}"
                class="form-control">
            </div>
            <div *ngIf="SigninEmail?.errors  && SigninEmail?.touched">    
                <p *ngIf="SigninEmail?.hasError('required')" class="error">
                    Email address is required.
                </p>
                <p *ngIf="SigninEmail?.hasError('email')" class="error">
                    Email format not valid.
                </p>
            </div>
            <br/>
            <div>
                <label for="Password" class="form-label">Password </label>
                <input type="password" formControlName="password" [class.border-danger]="SigninEmailValid"
                [ngClass] = "{'is-invalid': SigninPassword?.errors && SigninPassword?.touched, 'is-valid': !SigninPassword?.errors && SigninPassword?.touched}"
                class="form-control">
            </div>
            <div *ngIf="SigninPassword?.errors  && SigninPassword?.touched">
                <p *ngIf="SigninPassword?.hasError('required')" class="error">
                    Password is required.
                </p>
            </div>
            <br/>
            <div style="text-align: center;">
                <button class="login" type="submit">Login</button>
            </div>
        </form>
        <div>
            <p *ngIf="signinform.value.email">You will login with user <b>{{signinform.value.email}}</b>. Activity will be <b>monitored</b>.</p>
        </div>
        <div *ngIf="error" class="alert-message">{{ errormessage }}</div>
    </div>

    <div class="loginbox" *ngIf="status==='SignIn'">
        <form [formGroup]="signupform"  (ngSubmit)="onSubmit($event,'signup')">    
            <div>
                <label for="Firstname" class="form-label">Name </label>                          
                <input type="firstname" formControlName="firstname" class="form-control">
            </div>
            <br>
            <div>
                <label for="Lastname" class="form-label">Lastname</label>                          
                <input type="lastname" formControlName="lastname" class="form-control">
            </div>
            <br>
            <div>
                <label for="email" class="form-label">Email </label>                          
                <input type="email" formControlName="email"
                [ngClass] = "{'is-invalid': SignupEmail?.errors && SignupEmail?.touched, 'is-valid': !SignupEmail?.errors && SignupEmail?.touched}"
                class="form-control">
            </div>
            <div *ngIf="SignupEmail?.errors  && SignupEmail?.touched">    
                <p *ngIf="SignupEmail?.hasError('required')" class="error">
                    Email address is required.
                </p>
                <p *ngIf="SignupEmail?.hasError('email')" class="error">
                    Email format not valid.
                </p>
            </div>
            <br/>
            <div>
                <label for="Password" class="form-label">Password </label>
                <input type="password" formControlName="password" [class.border-danger]="SignupEmailValid"
                [ngClass] = "{'is-invalid': SignupPassword?.errors && SignupPassword?.touched, 'is-valid': !SignupPassword?.errors && SignupPassword?.touched}"
                class="form-control">
            </div>
            <div *ngIf="SignupPassword?.errors  && SignupPassword?.touched">
                <p *ngIf="SignupPassword?.hasError('required')" class="error">
                    Password is required.
                </p>
                <p *ngIf="SignupPassword?.hasError('pattern')" class="error">
                    Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number, and 1 special character.
                </p>
                <p *ngIf="SignupPassword?.hasError('minLength')" class="error">
                    Password must be at least 8 characters long.
                </p>
            </div>
            <br/>
            <div class="alert-message" *ngIf="errormessage">{{ errormessage }}</div>
            <div style="text-align: center;">
                <button class="login" type="submit">Register</button>
            </div>
        </form>
        <div>
        <p *ngIf="signinform.value.email">You will login with user <b>{{signinform.value.email}}</b>. Activity will be <b>monitored</b>.</p>
        </div>
    </div>
</div>