.progress-bar-container {
    position: relative;
    height: 10px;
    top: 80%;
    width: 80%;
    left: 10%;
}

.progress-bar-background {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgb(193, 193, 193);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.progress-bar-foreground {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    background-color: rgb(17, 116, 42);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}