<div style="padding-left: 1vw; padding-right: 1vw; text-align: center;">
  <div style="padding-bottom: 1vw;">
    <span class="title">Competencias</span>
    <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-big" (click)="openModal('none','none','none')"></i>
  </div>

  <ng-template #myModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Crear nueva competencia</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="addSkill(myForm)" required>
          <div class="form-group" hidden>
              <label for="id">id</label>
              <input type="text" class="form-control" id="id" name="id" [(ngModel)]="skill.id">
            </div>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="skill.name" required>
          </div>
          <div class="form-group">
            <label for="company">Nivel de confidencia (%)</label>
            <input type="text" class="form-control" id="company" name="company" [(ngModel)]="skill.confidence" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </ng-template>

  <div *ngIf="skills">
    <div *ngFor="let skill of skills" style="text-align: center; font-size: 12px; padding-bottom: 0.8rem;">
        
        <span class="subtitle" style="color:rgb(0, 98, 255)">
            {{ skill.name }} 
            <i *ngIf="IsAdmin()" class="fa fa-pencil ml-2 text-primary icon-small" (click)="openModal(skill.id,skill.name,skill.confidence)"></i>
            <i *ngIf="IsAdmin()" class="fas fa-trash-alt text-danger icon-small" (click)="deleteSkill(skill.id)"></i>
        </span>
        
        <div class="progress-bar-container">
            <div class="progress-bar-background"></div>
            <div class="progress-bar-foreground" [style.width]="skill.confidence + '%'"></div>
        </div>
    </div>
  </div>
</div>