footer {
    position: sticky;
    margin-top: 2%;
    bottom: 0;
    width: 100%;
    height: 25px;   /* Height of the footer */
    background: rgb(189, 189, 190);
    padding-left: 1%;
    padding-right: 1%;
}