    <header>
        <app-toolbar></app-toolbar>
    </header>
    <main>
        <div style="margin-left: 5%; margin-right: 5%">
        <router-outlet></router-outlet>
        </div>
    </main>

    <footer class="footer">
        <div class="wrapper">Site created by Damián Valderrama - Full Stack project @ INTI</div>
    </footer>
