@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    padding: 0;
    margin: 0;
  }
  
.header {
    margin: 0;
  }

.title{
    font-size: 2vw; 
    font-weight: bold;
}

.subtitle{
  font-size: 0.9vw; 
  font-weight: bold;
}

.text{
  text-align: justify;
  font-size: 1.1vw; 
  font-weight: normal;
}

.project_name{
  font-size: 1.3vw;
}

.job_name{
  font-size: 1.3vw;
}

.btn-primary{
  margin: 0.5vw;
}

.icon-small {
  font-size: 13px;
  padding-left: 10pt
}

.icon-big{
  font-size: 18px;
  float:right
}

@media screen and (max-width: 800px) {
  .title{
    text-align: center;
    font-size: 3.25vw; 
    font-weight: bold;
  }
  .text{
    text-align: center;
    font-size: 2.75vw; 
    font-weight: normal;
  }
  .subtitle{
    font-size: 2.4vw; 
    font-weight: bold;
  }
  .project_name{
    font-size: 2.6vw;
  }
  .job_name{
    font-size: 2.6vw;
  }
}