<div class="grid-container">
  <div class="profile-left-sidebar">
    <app-avatar></app-avatar>
    <hr style="margin-left: 1vw; margin-right: 1vw">
    <app-skills></app-skills>
  </div>
  <div class="profile-main-content">
    <app-about></app-about>
    <hr>
    <app-job></app-job>
    <hr>
    <app-projects></app-projects>
  </div>
</div>