.grid-container{
    margin-top: 1.5vw;
    display:grid;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 0.3vw;
    grid-template-columns: 3.5fr 7.5fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
}

.profile-left-sidebar{
    grid-area: sidebar;
    /* background-color: #5ea7c4ef; */
    border: solid grey 1px;
    border-radius: 0.5vw;
}

.profile-main-content{
    grid-area: main;
    background-color: rgb(228, 228, 228);
    padding: 1vw;
    border: solid grey 1px;
    border-radius: 0.5vw;

}


@media screen and (max-width: 800px) {
    .grid-container {
      grid-template-areas:
        "sidebar"
        "main";
      grid-template-columns: 1fr;
      height: auto;
    }
}